<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/voter.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container anim">
        <nav>
            <div class="heading">
                <h1 id="elect"><span id="cap">E</span><span id="cur">lect</span><span class="right"><span id="cap">E</span><span id="cur">ase</span></span></h1>
            </div>
            <div class="main">
                <div>Empower Your Voice</div> 
                <div> 
                  <span> - Vote online with Ease!!</span>
                </div>
            </div>
        </nav>
        <div class="name">
            <h1><span id="title">COMMUNITY ELECTIONS</span><span id="dot" class="glow">.</span></h1>
        </div> 
        <div class="options">
            <div class="move">
                <form action="/auth/cast-vote" method="POST">
                    <% candidates.forEach(function(candidate) { %>
                        <label>
                            <input type="radio" name="candidate" value="<%= candidate %>"><%= candidate %>
                        </label><br><br>
                    <% }); %>
            </div>
        </div>
    </div>
    <div class="Vote anim">
        <button type="submit"><b>Vote</b></button>
    </div>
    </form>
    <div class="disclaimer anim">
        * Once you have cast your vote, alterations are not permitted. Thus, exercise caution when voting.*
    </div>
</body>
</html>
